.ContentHolder {
    display: block;
    width: 90vw;
    max-width: 880px;
    margin: 40px auto 80px;
    box-shadow: var(--box-shadow-01);
    border-radius: var(--border-radius);
}

.ContentHolder h2 {
    background-color: var(--transparent-01);
    padding: 35px 30px 25px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}


.ContentHolder__inner {
    background-color: var(--light-background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 40px 5%;
} 